version: "3.8"

services:
  api-gateway:
    build:
      context: .
    ports:
      - "5555:5555"
    restart: unless-stopped
    # depends_on:
    #   - user-db
    networks:
      - demo-network

  # user-db:
  #   image: postgres:15-alpine

networks:
  demo-network:
    driver: bridge
    external: true
    