version: "3.8"

services:
  front-app:
    build:
      context: .
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - demo-network

networks:
  demo-network:
    driver: bridge
    external: true
